/logs/
/dump/
/build/distributive/
/build/output/
/build/compiled-script/
/build/IntellijConfig.default.cfg
/build/GithubConfig.default.cfg
/intellij.run/config/
/intellij.run/dump/
/intellij.run/log/
/intellij.run/logs/
/intellij.run/plugins/
/intellij.run/system/
/intellij.run/agent/
/intellij.run/dokiThemeAssets/
/intellij.run/build/
/intellij.run/Project_Default.xml
/intellij.run/tmp/
/ddlc/
hs_err*
*.iml
